.Board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.Board > div {
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  cursor: pointer;
}
