* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Sansita Swashed", cursive;
  background: darkcyan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  color: #fff;
}
